.slide-container {
    overflow: hidden;
    

  }
  
  
  .each-fade {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;

    
  }

  .image-container {
    border-radius: 50px;
    overflow: hidden;
    



  }

  
  .each-fade > div img {
    border-radius: 50px;
    height: 450px;
    justify-content: center;
    align-items: center;



  }

  